* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#202,#020);
    text-align: center;
}

h1 {
    color: white;
    padding: 10px;
}

.container {
    border: solid 5px black;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

table {
    color: #fff;
    font-size: 15px;
    table-layout: fixed;
}

thead {
    background: #090;
    cursor: pointer;
}

th {
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10%;
    color: black;
    font-weight: 900;
}

td {
    padding: 15px;
    border: solid 3px #000;
    border-radius: 10%;
}

tbody td:hover {   
    background: black;
    cursor: pointer;
}

tfoot td:hover {   
    background: #090;
    cursor: pointer;
}