.fuentes {
    font-style: auto;
    font-family: auto;
    font-weight: auto;
    font-display: auto;
    font-variant: auto;
    font-feature-settings: auto;
    font-stretch: auto;
    font-variant-ligatures: auto;
    font-variant-numeric: auto;
    font-kerning: auto;
    font-language-override: auto;
    font-optical-sizing: auto;
    font-size-adjust: auto;
    font-synthesis: auto;
    font-variant-alternates: auto;
    font-variant-caps: auto;
    font-variant-east-asian: auto;
    font-variant-position: auto;
    font-variation-settings: auto;
}