.background {
    width: 500px;
    height: 500px;
    background: auto;
    background-color: auto;
    background-image: auto;
    background-position: auto;
    background-repeat: auto;
    background-size: auto;
    background-clip: auto;
    background-position-x: auto;
    background-position-y: auto;
    background-attachment: auto;
    background-origin: auto;
    background-blend-mode: auto;
}